/* entire page layout */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	list-style: none;
	text-decoration: none;
	font-family: 'Josefin Sans', sans-serif;
}

/* font format for (About Us), (Our Services), (Contact us), (Our Team) */
h1.title{
	margin-bottom: 20px;
	color: #444444;
	font-family: 'Allura', cursive;
	text-transform: uppercase;
	font-size: 38px;
	word-spacing: 25px;
	letter-spacing: 5px;
}

/* p tag font format */
p{
	margin-bottom: 15px;
	font-size: 14px;
	line-height: 20px;
	color: #a9a9a9;
}

/* button format (Learn More & Submit) */
.btn a {
    width: 180px;
    height: 35px;
    line-height: 35px;
    border: 2px solid #fb2274;
    color: #fb2274;
    display: block;
    margin: 25px auto 0;
    text-align: center;
}

/* set position for entire page */
.main_container{
	position: relative;
}

/* Navigation Bar */
.navbar{
	width: 100%;
	height: 65px;
	position: absolute;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

/* font of company name at top left (HOPE) */
.logo a{
	font-family: 'Allura', cursive;
	font-size: 32px;
	color: #fb2274;
}

/* places navbar into "row" format instead of "column" */
.navbar_items ul{
	display: flex;
}

/* add spacing between the navbars */
.navbar_items ul li{
	margin: 0 10px;
}

/* format and color of navbar items */
.navbar_items ul li a{
	text-transform: uppercase;
	color: #fff;
}

/* font shadow of navbar */
#navbar_id {
    text-shadow: 1.5px 1px #FF0000;
}

/* hero image */
.banner_image{
	background: url('otherPhotos/Background.jpeg') no-repeat top center;
	background-size: cover;
	width: 100%;
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* centers the middle text of the hero image, also changes first text color */
.banner_content{
	text-align: center;
	color: #fff;
}

/* formats middle text of the hero image */
.banner_content h1{
	text-transform: uppercase;
	line-height: 38px;
	margin-bottom: 15px;
}

/* changes font color of second text of the hero image */
.banner_content h1 span{
	color: #fb2274;
}


/* all items below hero image, adds alignment and padding for text */
.about, .services, .contactus, .ourteam{
	text-align: center;
	padding: 5% 10%;
}

/* (Our Services) */
.services{
	background: #f5f5f5;
}

/* places images and descriptions into "row" format instead of "column" */
.diff_services {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}

/* limited width between services */
.diff_services .diff_services_item {
    width: 30%;
}

/* format of services images */
.diff_services .diff_services_item img {
    width: 100%;
    margin-bottom: 25px;
}

/* font format of service type */
.diff_services .diff_services_item h3 {
    color: #fb2274;
    margin-bottom: 15px;
}

/* (Contact us) */
.form_wrapper .form_input{
	margin-bottom: 15px;
}

/* format of (Email) & (Subject) */
.form_wrapper .form_input input[type="text"]{
	width: 250px;
	padding: 12px 20px; 
	border: 1px solid #ccc;
}

/* format of (Message) */
.form_wrapper .form_input textarea{
	width: 250px;
	padding: 12px 20px; 
	height: 80px;
	resize: none;
	border: 1px solid  #ccc;
}

/* our team */
/* background color of section */
.ourteam{
	background: #f5f5f5;
}

.ourteam_wrapper{
	display: flex;
	flex-direction: column;
}

/* places the images apart in "row" format */
.ourteam_wrapper .team{
	display: flex;
	justify-content: space-between;
}

/* add spacing below images */
.ourteam_wrapper .team-1.team{
	margin-bottom: 25px;
}

/* resizes images to a sertain size, also changes  */
.ourteam_wrapper .team_members{
	width: 30%;
	height: auto;
	cursor: pointer;
    /* instead of making the image larger, it zooms in the image */
	overflow: hidden;
	position: relative;
}

/* resizes team images to scale equally */
.ourteam_wrapper .team_members img{
	display: block;
	width: 100%;
	height: auto;
}

/* image zooms in on mouse hover */
.ourteam_wrapper .team_members:hover img{
	transform: scale(1.1);
    /* adds smooth transition animation  */
    transition: all 0.5s ease;
}

/* footer */
.footer{
	width: 100%;
	text-align: center;
	background: #444444;
	padding: 20px 0;
}

/* footer text color */
.footer a{
	color: #fff;
}


/* resize properties in the hero image */
@media (max-width: 720px){

	.navbar{
		height: auto;
		flex-direction: column;
	}

	.logo{
		margin-bottom: 25px;
	}

	.navbar_items ul{
		flex-direction: column;
		text-align: center;
	}

	.navbar_items ul li{
		margin-bottom:5px;
	}

	.banner_content{
		margin-top: 35px;
	}

}