/* Layout of entire page */
* {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
}

/* properties of body, also page background color */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #161623;
    min-height: 100vh;
}

/* changes the sizes and positions of the two circles depending on screen size */
section {
    position: relative;
}

/* pink circle properties */
section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00,#f0f);
    clip-path: circle(30% at right 70%);
}

/* blue circle properties */
section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3,#e91e63);
    clip-path: circle(20% at 10% 10%);
}

/* allows cards to display flex, also prevents blue circle from overlapping cards */
.container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px 0;
}

/* properties of the cards which hold all other items */
.container .card {
    position: relative;
    width: 300px;
    height: 400px;
    background: rgba(255,255,255,0.05);
    margin: 20px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    border-radius: 15x;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}

/* centers all items in the card, except social media buttons */
.container .card .content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5s;
}

/* photo image & name & description, transition effect on hover */
.container .card:hover .content {
    opacity: 1;
    transform: translateY(-20px);
}

/* circle border for photo image */
.container .card .content .imgBx {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0,0,0,0.25);
}

/* centers photo for proper image */
.container .card .content .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* properties for names and descriptions */
.container .card .content .contentBx h3 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
}

/* font of descriptions */
.container .card .content .contentBx h3 span {
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
}

/* places social media buttons below description */
.container .card .sci {
    position: absolute;
    bottom: 50px;
    display: flex;
}

/* properties of social media buttons */
.container .card .sci li {
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s; 
    opacity: 0;
    transition-delay: calc(0.1s * var(--i));
}

/* brings up the social media buttons */
.container .card:hover .sci li {
    transform: translateY(0px);
    opacity: 1;
}

/* font size and color of social media buttons */
.container .card .sci li a {
    color: #fff;
    font-size: 24px;
}

/* hover color on social media buttons */
.container .card .sci li a:hover {
    color: #0196e3;
}